* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background: #FAFAFA;
}

header {
    width: 100%;
    height: 69px;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
}

main {
    margin-top: 70px;
    padding-top: 7%;
    width: 74%;
    position: relative;
}

.create-quizz {
    border: 1px dashed #D5D5D5;
    width: 100%;
    height: 181px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 21px;
}

.create-quizz p {
    color: #B9B9B9;
    max-width: 250px;
    text-align: center;
}

.create-quizz-button {
    border: 1px dashed #EC362D;
    border-radius: 50px;
    width: 136px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.create-quizz-button p {
    color: #EC362D;
}

.all-quizzes-title {
    width: 100%;
    margin: 20px 0;
}

.all-quizzes h2,
.user-quizzes h2 {
    margin: 6% 0 14px 0;
    font-size: 20px;
}

.all-quizzes,
.user-quizzes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.quizz {
    position: relative;
    margin-bottom: 30px;
    width: 30%;
    aspect-ratio: 1.87845304;
    cursor: pointer;
}

.quizz-finish .quizz {
    display: flex;
    justify-content: center;
    aspect-ratio: auto;
}

.title {
    position: absolute;
    z-index: 1;
    left: 18px;
    bottom: 0;
    max-width: 88.529%;
    color: #FFFFFF;
    font-size: 19px;
    line-height: 22px;
}

.quizz-finish .title {
    left: 18px;
    bottom: 20px;
}

.quizz img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.background {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    position: absolute;
}

.quizz-finish .background, .quizz-finish img {
    width: 100%;
    aspect-ratio: 1.8796;
    border-radius: 5px;
    min-width: 500px;
}

.quizz-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: scroll;
    z-index: 2;
    background-color: white;
}

.quizz-header {
    margin-top: 69px;
    height: 227px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    position: relative;
}

.quizz-header img {
    position: absolute;
    z-index: -1;
    height: 227px;
    width: 100vw;
}

.quizz-header span {
    font: 400 39px/45.7px roboto;
    text-align: center;
    color: white;
    padding: 0 30px;
    word-break: break-word;
}

.questions {
    width: 689px;
    margin: 0 auto 0 auto;
    padding-top: 200px;
}

.questions::-webkit-scrollbar {
    display: none;
}

.questions {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.question {
    margin-bottom: 100px;
}

.question-header {
    width: 100%;
    height: 138px;
    background-color: #434CA0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.question-header span {
    text-align: center;
    padding: 20px;
    font: 700 23px/26.95px roboto;
    color: wheat;
    word-break: break-word;
}

.answers {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-between;
}

.answers figure {
    width: 48%;
    margin: 0;
    cursor: pointer;
}

.answers figure img {
    width: 330px;
    height: 175px;
}

.answers figure figcaption {
    font: 700 20px/23.44px roboto;
    max-width: 100%;
    word-break: break-word;
}

figure.answered {
    pointer-events: none;
}

figure.answered:not(.clicked) {
    opacity: 0.3;
}

figure.answered.false figcaption {
    color: #FF4B4B;
}

figure.answered.true figcaption {
    color: #009C22;
}

.quizz-result {
    margin: 44px auto 0 auto;
    width: 689px;
    height: auto;
    background-color: white;
}

.quizz-result-header {
    background-color: #EC362D;
    color: white;
    font: 700 23px roboto;
    word-break: break-word;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 99px;
    padding: 0 10px;
}

.quizz-result-content {
    margin: 18px 0 79px 0;
    display: flex;
}

.quizz-result-content img {
    width: 50%;
    height: auto;
    aspect-ratio: 1.33333;
}

.quizz-result-content span {
    width: 50%;
    padding: 20px;
    font: 700 19px/25px roboto;
    color: #484848;
    word-break: break-word;
}

.quizz-result button {
    display: block;
    margin: 0 auto 30px auto;
    border: none;
    cursor: pointer;
}

.quizz-result button:first-of-type {
    display: block;
    width: 260px;
    aspect-ratio: 5.007;
    border: none;
    border-radius: 15px;
    background-color: #EC362D;
    font: 400 21px roboto;
    text-align: center;
    color: #FFF5F4;
}

.quizz-result button:last-of-type {
    display: block;
    border: none;
    background-color: none;
    font: 400 21px roboto;
    text-align: center;
    color: #818181;
}

.loading-screen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-screen img {
    width: 10%;
    aspect-ratio: 1;
}

.loading-screen.dispĺay-none {
    display: none;
}

.quizz-creation {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    padding-top: 100px;
    font-size: 23px;
    line-height: 27px;
    background: #FAFAFA;
    overflow: scroll;
}

.basic-information-quizz {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.informations-input,
.informations-input .questions-informations,
.informations-input .levels-informations {
    width: 600px;
    min-height: 256px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 9px;
    margin-bottom: 24px;
}

.informations-input .questions-informations {
    box-shadow: none;
}

.informations-input .questions-informations h2 {
    padding-left: 2%;
}

.proceed-button {
    background: #EC362D;
    border-radius: 15px;
    height: 54px;
    width: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0 30px 0;
    color: #FFF5F4;
    cursor: pointer;
}

.go-to-home-button {
    cursor: pointer;
}

.quizz-finish .proceed-button {
    margin-top: 10%;
}

.informations-input p {
    margin: 0;
    color: #EC362D;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    width: 95%;
    text-align: start;
}

.quizz-creation input {
    border-radius: 5px;
    height: 46px;
    width: 95%;
    margin-top: 9px;
    font-size: 19px;
    line-height: 22px;
    border: 1px solid #D1D1D1;
    padding-left: 22px;
    outline: 0;
}

.validate * input:invalid {
    background: #FFE9E9;
}

.quizz-creation {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    padding-top: 100px;
    font-size: 23px;
    line-height: 27px;
    background: #FAFAFA;
}

.quizz-finish,
.quizz-levels,
.quizz-questions,
.basic-information-quizz {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    line-height: 23px;
}

.close-questions,
.informations-input div h2 {
    width: 96%;
    text-align: start;
    font-size: 20px;
    line-height: 23px;
}

.close-questions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
}

ion-icon {
    margin-top: 12px;
    padding-right: 30px;
    font-size: 25px;
}

.quizz-creation input::placeholder {
    color: #BABABA;
}

.url-img {
    margin-bottom: 32px;
}

.url-img:last-child {
    margin-bottom: 0px;
}

.close {
    min-height: auto;
    height: 74px;
    overflow: hidden;
    padding-left: 2%;
}

.display-none,
.display-none.levels-informations,
.display-none.questions-informations {
    display: none;
}

@media (max-width: 1100px) {
    .loading-screen img {
        width: 20%;
    }
    .questions {
        width: 100vw;
        padding: 200px 10px 0 10px;
    }
    .answers {
        gap: 10px;
    }
    .answers figure {
        width: 48%;
        margin-bottom: 25px;
    }
    .answers figure img {
        width: 100%;
        height: auto;
        aspect-ratio: 1.8968;
    }
    .answers figure figcaption {
        font-size: 13px;
    }
    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: start;
    }
    .all-quizzes h2,
    .user-quizzes h2 {
        width: 100%;
        text-align: start;
    }
    .create-quizz {
        width: 90%;
    }
    .quizz {
        width: 100%;
    }
    .all-quizzes,
    .user-quizzes {
        justify-content: center;
    }
    .answers figure {
        width: 48%;
        height: fit-content;
        margin-bottom: 25px;
    }
    .answers {
        gap: 0;
    }
    .answers figure img {
        width: 100%;
        height: 1%;
    }
    .quizz-header span {
        font-size: 19px;
    }
    .question-header span {
        font-size: 19px;
    }
    .answers figure figcaption {
        font-size: 13px;
    }
    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: start;
    }
    .create-quizz {
        width: 90%;
    }
    .all-quizzes,
    .user-quizzes {
        justify-content: center;
    }
    .quizz-creation {
        font-size: 20px;
        line-height: 23px;
    }
    .informations-input .levels-informations,
    .informations-input .questions-informations,
    .informations-input {
        width: 100%;
    }
    .proceed-button {
        margin: 30px 0 30px 0;
        width: 324px;
    }
    .quizz-finish .quizz img, .quizz-finish .background {
        max-width: 340px;
    }

    .close-questions {
        width: 96%;
    }
}

@media (max-width: 689px) {
    .quizz-result {
        width: 100vw;
        padding: 0 10px;
    }
}

@media (max-width: 590px) {
    .quizz-header span {
        font-size: 19px;
    }
    .question-header span {
        font-size: 19px;
    }
    .quizz-result-header {
        font-size: 18px;
    }
    .quizz-result-content img {
        width: 50%;
        aspect-ratio: none;
    }
    .quizz-result-content span {
        font-size: 15px;
        width: 50%;
    }
}